*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin:0;
    background-color: rgb(232, 247, 247);
    color:rgb(0, 0, 0);
}

header {
    position: relative;
    background-color: rgb(255, 194, 246);
    height: 70px;
}

.menu label {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.opcion {
    display: none;
}

input:checked + nav {
    background-color: rgb(255, 194, 246);
    border-radius: 10px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    gap: 16px;
    padding: 16px 0;
    transform: translateY(0);
}

nav {
    position: absolute;
    transform: translateY(-200%);
    transition: all 0.5s ease-in-out;
}

a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 18px;  
}

h1{
    text-align: center;
    font-size: 30px;
    color: rgb(255, 194, 246);
}

.section_1{
    border-radius: 8px;
    display: grid;
    width: 100%;
    height: 350px;
    background-image: url(./image1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 15px 20px black;
}

h2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

h3{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

figcaption{
    text-align: justify;
}

.hobbies, .intereses, .bandas{
    border: 2px solid rgb(255, 194, 246);
    display: flex;
    margin: 15px;
    padding: 15px;
    width: 90%;
    height: auto;
    border-radius: 10px;
    font-size: 15px;
    color: rgb(99, 90, 90);
    font-weight: bold;
}

.profesion{
    border: 2px solid rgb(255, 194, 246);
    display: flex;
    margin: 15px;
    padding: 15px;
    width: 90%;
    height: auto;
    border-radius: 15px;
    font-size: 15px;
    color: rgb(99, 90, 90);
    font-weight: bold;
}

.container_3{
    justify-content: space-between;
    display:flex;
}

.button_1{
    border-radius: 10px;
    background-color: rgb(255, 194, 246);
    font-weight: bold;
}

.button_2{
    border-radius: 10px;
    background-color: rgb(255, 194, 246);
    font-weight: bold;
}

form{
    margin: 15px;
}

footer{
    color:rgb(255, 255, 255);
    padding: 12px;
    background-color: rgb(255, 194, 246);
}

.parr_1, .parr_2, .parr_3{
    font-size: 12px;
    display:flex;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
