*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin:0;
    background: linear-gradient(90deg, rgb(221, 235, 236) 24%, rgb(253, 230, 249) 100%);
}

header {
    position: relative;
    background-color: hotpink;
    height: 70px;
}

label {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

input {
    display: none;
}

input:checked + nav {
    background-color: hotpink;
    border-radius: 10px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    gap: 16px;
    padding: 16px 0;
    transform: translateY(0);
}

nav {
    position: absolute;
    transform: translateY(-200%);
    transition: all 0.5s ease-in-out;
}

a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 18px;  
}

.contenedor1{
    background-color: papayawhip;
    border-radius: 10px;
    width: 90%;
    height: auto;
    margin: 15px;
    box-shadow: 0 15px 16px black;
}

h2{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin: 15px;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
}

p{
    margin: 10px;
    padding:15px;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    font-size: 18px;
}

/*Div*/
.contenedor2 {
    margin: 2px;
    padding: 5px;
    text-align: justify;
}
/*Secciones*/
.hobbies, .intereses, .bandas{
    background-color: papayawhip;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 15px 16px black;
    height: 130px;
}

.profesion{
    background-color: papayawhip;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 15px 16px black;
    height: 160px;
}

.home:hover, .contacto:hover{
    background-color: black;
    margin: 7px;
    padding: 7px;
    border-radius: 3px;
}

h3{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
}

li{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    padding: auto;
}

dd{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    padding: auto;
}
