*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section
{
    width: 100%;
    display: flex;
    justify-content: center;
}

body
{
    background: linear-gradient(90deg, rgba(212,95,145,1) 24%, rgba(121,84,150,1) 100%);
    margin: 10%;
}

.card
{
    width: 85%;
    height: 400px;
    margin: 50px;
    position:absolute;
    background: linear-gradient(#D5EAF5 , #F5DDDA);
    border-radius: 20px;
    box-shadow: 0 35px 80px black;
    Justify-content: center;
    top: 50px;
}

.card:hover
{
    height: 450px;
}

.img1
{
    position: absolute;
    left:50%;
    top:-50px;
    transform: translateX(-50%);
    width: 180px;
    height: 180px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px black;
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .img1
{
    width: 160px;
    height: 160px;   
}

.img1 img
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content
{
    position:absolute;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.card .content .details
{
    padding: 18px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
}

.card .content .details h1
{
    font-size: 22px;
    font-weight: 600;
    color: Gray;
    line-height: 30px;
}

.card .content .details .data h2
{
    font-size: 1.3rem;
    color: Gray;
    line-height: 1.3em;
    font-weight: 600;
}

.card .content .details .botton
{
    display: flex;
    justify-content: space-between;
}

.card .content .details .botton button
{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background-color: hotpink;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 768px){
    .card{
            width: 630px;
            height: 670px;
            margin: 150px
        }

    .card:hover{
        height: 500px;
        }

    .card:hover .img1
    {
        width: 300px;
        height: 300px;   
    }

    .card .content .details
    {
        padding: 25px;
        transition: 0.3s;
    }

    .card .content .details h1
    {
        font-size: 35px;
    }

    .card .content .details .data h2
    {
        font-size: 25px;
    }

    .card .content .details .botton button
    {
        padding: 15px 20px;
        margin: 8px 8px;
        border-radius: 10px;
        border: none;
        outline: none;
        font-size: 25px;
        font-weight: 500;
        background-color: hotpink;
        cursor: pointer;
    }

    a{
        font-weight: bold;
    }

}

@media screen and (min-width: 1024px){
    .card{
        width: 500px;
        height: 400px;
        margin: 20px;
        top: 150px;
    }

    .card:hover{
        height: 580px;
        }

    .card:hover .img1
    {
        width: 300px;
        height: 300px;   
    }

    .card .content .details
    {
        padding: 10px;
        transition: 0.3s;
    }

    .card .content .details h1
    {
        font-size: 28px;
    }

    .card .content .details .data h2
    {
        font-size: 20px;
    }

    .card .content .details .botton button
    {
        padding: 15px 20px;
        margin: 8px 8px;
        border-radius: 10px;
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: 500;
        background-color: hotpink;
        cursor: pointer;
    }

    a{
        font-weight: bold;
    }
}


